<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Leading Real Estate Company in Bangladesh | Setting Standards</title>

    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="themes/real_estate/assets/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="themes/real_estate/assets/img/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="themes/real_estate/assets/img/favicon-16x16.png"
      sizes="16x16"
    />
    <link rel="manifest" href="themes/real_estate/assets/img/manifest.json" />
    <link
      rel="mask-icon"
      href="themes/real_estate/assets/img/safari-pinned-tab.svg"
      color="#8b8232"
    />
    <link
      rel="shortcut icon"
      href="themes/real_estate/assets/img/favicon.ico"
    />
    <meta
      name="msapplication-config"
      content="/themes/real_estate/assets/img/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="google-site-verification"
      content="AlhjdpUUlavcwHH24gw4dKR2rvYHqtztYAqzOHVyH7A"
    />

    <meta name="keywords" content="" />
    <meta
      name="description"
      content="Shanta Holdings Ltd. aspires to weave an unprecedented experience of fine living cocooned in comfort for you. It’s the statement of prestige and elegant Architecture that sets us apart."
    />
    <link href="index.html" rel="canonical" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
      rel="stylesheet"
      media="all"
    />
    <link
      href="assets/css/bundle.mindb01.css?v=1499213570"
      rel="stylesheet"
      media="all"
    />
    <link
      href="assets/css/style.minfa2d.css?ver=070720"
      rel="stylesheet"
      media="all"
    />
    <script src="assets/js/min/bundle.minc75c.js?v=1498105176"></script>

  </head>
  <body class="bodyclass">
    <script>
      var site_url_info = {
        baseUrl: "https://shantaholdings.com",
        themeUrl: "https://shantaholdings.com/themes/real_estate",
      };
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PLG6CGJ"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "../www.google-analytics.com/analytics.js",
        "ga"
      );

      ga("create", "UA-101491985-1", "auto");
      ga("send", "pageview");
    </script>

    <div class="site-main-wrapper">
      <div class="animsition open-menu-position">
        <!-- Header -->
        <!-- ============================================= -->
        <div class="menu-fixed-light menu-dark-mobiles">
          <!-- Notice the menu-fixed-light class -->
          <header
            class="header-wrapper header-transparent header-transparent-light"
          >
            <div class="main-header">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="menu-wrapper">
                        <div class="logo-wrapper">
                          <a href="index.html" class="logo">
                            <img
                              src="assets/images/logo.svg"
                              class="logo-img logo-dark"
                              alt="Logo"
                            />
                          </a>
                        </div>
                        <a
                          href="#menu"
                          class="btn btn-dark btn-lg mobile-menu-bar"
                        >
                          <img
                            src="assets/images/menu.svg"
                            alt="hamburger icon"
                          />
                        </a>

                        <nav class="navbar-right">
                          <ul class="menu">
                            <li>
                              <a class="active" href="index.html"
                                ><span>Home</span></a
                              >
                            </li>
                            <li>
                              <a class="" href="#"><span>About us</span></a>
                              <ul class="submenu">
                                <li class="">
                                  <a href="about-us/our-story.html"
                                    >Our Story</a
                                  >
                                </li>

                                <li class="">
                                  <a href="about-us/vision-mission.html"
                                    >Vision & Mission</a
                                  >
                                </li>

                                <li class="">
                                  <a href="about-us/board-of-directors.html"
                                    >Board of Directors</a
                                  >
                                </li>

                                <li class="">
                                  <a href="about-us/management-team.html"
                                    >Management Team</a
                                  >
                                </li>

                                <li class="">
                                  <a href="about-us/companies.html"
                                    >Companies</a
                                  >
                                </li>

                                <li class="">
                                  <a href="about-us/our-clients.html"
                                    >Our Clients</a
                                  >
                                </li>

                                <li class="">
                                  <a href="about-us/csr.html">CSR</a>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a
                                class="
                                                                                                "
                                href="#"
                                ><span>Projects</span></a
                              >
                              <ul class="submenu">
                                <li class="">
                                  <a href="projects/ongoing.html">Ongoing</a>
                                </li>

                                <li class="">
                                  <a href="projects/upcoming.html">Upcoming</a>
                                </li>

                                <li class="">
                                  <a href="projects/completed.html"
                                    >Completed</a
                                  >
                                </li>
                              </ul>
                            </li>
                            <li>
                              <a
                                class="
                                                                                                "
                                href="news.html"
                                ><span>News & Events</span></a
                              >
                            </li>
                            <li>
                              <a
                                class="
                                                                                                "
                                href="career.html"
                                ><span>Career</span></a
                              >
                            </li>
                            <li>
                              <a
                                class="
                                                                                                "
                                href="#"
                                ><span>Contact</span></a
                              >
                              <ul class="submenu">
                                <li class="">
                                  <a href="contact/landowners.html"
                                    >Landowners</a
                                  >
                                </li>

                                <li class="">
                                  <a href="contact/buyers.html">Buyers</a>
                                </li>

                                <li class="">
                                  <a href="contact/customers.html">Customers</a>
                                </li>

                                <li class="">
                                  <a href="contact/contact-us.html"
                                    >Contact Us</a
                                  >
                                </li>
                              </ul>
                            </li>

                            <li>
                              <a class="open-search-menu" href="#search">
                                <span
                                  ><img
                                    src="themes/real_estate/assets/img/icons/search.svg"
                                    alt=""
                                /></span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END Main-Header -->
          </header>
        </div>

        <!-- Mobile Menu -->
        <nav id="menu" class="mmenu-mobile" style="display: none">
          <ul class="listview-icons">
            <li>
              <a href="index.html"><span>Home</span></a>
            </li>
            <li>
              <a href="#"><span>About us</span></a>
              <ul>
                <li>
                  <a href="about-us/our-story.html">Our Story</a>
                </li>
                <li>
                  <a href="about-us/vision-mission.html">Vision & Mission</a>
                </li>
                <li>
                  <a href="about-us/board-of-directors.html"
                    >Board of Directors</a
                  >
                </li>
                <li>
                  <a href="about-us/management-team.html">Management Team</a>
                </li>
                <li>
                  <a href="about-us/companies.html">Companies</a>
                </li>
                <li>
                  <a href="about-us/our-clients.html">Our Clients</a>
                </li>
                <li>
                  <a href="about-us/csr.html">CSR</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#"><span>Projects</span></a>
              <ul>
                <li>
                  <a href="projects/ongoing.html">Ongoing</a>
                </li>
                <li>
                  <a href="projects/upcoming.html">Upcoming</a>
                </li>
                <li>
                  <a href="projects/completed.html">Completed</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="news.html"><span>News & Events</span></a>
            </li>
            <li>
              <a href="career.html"><span>Career</span></a>
            </li>
            <li>
              <a href="#"><span>Contact</span></a>
              <ul>
                <li>
                  <a href="contact/landowners.html">Landowners</a>
                </li>
                <li>
                  <a href="contact/buyers.html">Buyers</a>
                </li>
                <li>
                  <a href="contact/customers.html">Customers</a>
                </li>
                <li>
                  <a href="contact/contact-us.html">Contact Us</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="open-search-menu" href="#search">
                <i class="fa fa-search"></i>
                Search
              </a>
            </li>
            <li class="social-links">
              <a href="#" target="_blank" class="facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" target="_blank" class="twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" target="_blank" class="linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
              <a href="#" target="_blank" class="youtube">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End of Mobile Menu -->
      </div>

      <header class="site-main-header">
        <div
          class="menu-overlay search-result-menu"
          ng-app="shanta"
          ng-controller="searchCtrl"
        >
          <div class="pull-right hamburger hamburger-close">
            <a href="#">
              <img
                src="themes/real_estate/assets/img/icons/Close.svg"
                alt="close icon"
              />
            </a>
          </div>
          <div
            class="menu-column column-left has-inner-scroller"
            style="
              background-image: url(assets/images/menu-1.webp);
            "
          >
            <div class="menu-column-gap">
              <div class="column-title-container"></div>
            </div>
            <div class="menu-column-gap inner-scroller mcustom-scrollar">
              <h1 class="heading-secondary text-white mb-50">
                search projects
              </h1>
              <div class="text-white">
                <p>
                  We understand that no two projects are ever the same, so when
                  it comes to appointing a contractor to deliver the services
                  you need confidence is key.
                </p>
              </div>
            </div>
          </div>
          <div class="menu-column column-middle has-inner-scroller">
            <div class="menu-column-gap inner-scroller mcustom-scrollar">
              <form class="form-primary text-white custom-select">
                <div class="form-group">
                  <div>
                    <label for="">By Project</label>
                    <input
                      type="text"
                      placeholder="Type the project name"
                      ng-model="search.name"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <div>
                    <label for="">By Location</label>
                    <select
                      name="search.address"
                      id="search.address"
                      ng-model="search.address"
                    >
                      <option value="">Any Location</option>
                      <option value="Uttara">Uttara</option>
                      <option value="New Baily Road">New Baily Road</option>
                      <option value="Dhanmondi">Dhanmondi</option>
                      <option value="Baridhara">Baridhara</option>
                      <option value="Gulshan">Gulshan</option>
                      <option value="Banani">Banani</option>
                      <option value="Paribagh">Paribagh</option>
                      <option value="Indira Road">Indira Road</option>
                      <option value="New Eskaton">New Eskaton</option>
                      <option value="Banani DOHS">Banani DOHS</option>
                      <option value="Banasree">Banasree</option>
                      <option value="Tejgaon">Tejgaon</option>
                      <option value="Dhaka Cantonment">Dhaka Cantonment</option>
                      <option value="Mirpur DOHS">Mirpur DOHS</option>
                      <option value="Mohammedpur">Mohammedpur</option>
                      <option value="Baily Road">Baily Road</option>
                      <option value="Bashundhara R/A">Bashundhara R/A</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="">
                    <label for="search.size">By Size (Sft) </label>
                    <select name="search.size" id="search.size" ng-model="size">
                      <option value="">All Size</option>
                      <option value="600-1000">BELOW 1000</option>
                      <option value="1001-1500">1000 - 1500</option>
                      <option value="1501-2000">1500 - 2000</option>
                      <option value="2001-2500">2000 - 2500</option>
                      <option value="2601-3000">2500 - 3000</option>
                      <option value="3001-15000">ABOVE 3000</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div>
                    <label for="search.type">By Type</label>
                    <select
                      name="search.type"
                      id="search.type"
                      ng-model="search.type"
                    >
                      <option value="">All Type</option>
                      <option value="residential">Residential</option>
                      <option value="commercial">Commercial</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="menu-column column-right text-white has-inner-scroller">
            <div class="menu-column-gap">
              <div class="column-title-container">
                <div class="heading-third">
                  <span
                    ng-bind="(filteredResults.length > 1 ? (filteredResults.length + ' Projects') : (filteredResults.length + ' Project')) + ' Matched'"
                  ></span>
                </div>
                <div class="" ng-show="filteredResults.length == 0">
                  Sorry no result found !
                </div>
              </div>
            </div>
            <div class="menu-column-gap inner-scroller mcustom-scrollar">
              <div class="full-height-desktop">
                <ul class="search-result-list">
                  <li
                    ng-repeat="result in filteredResults = (results | filter:search | filter:searchSize ) | orderBy:name"
                  >
                    <a ng-href="{{result.link}}">
                      <div class="search-thumb-wrapper">
                        <div
                          class="search-thumb"
                          ng-style="{'background-image':'url({{result.image}})'}"
                        ></div>
                      </div>
                      <div class="search-meta">
                        <h3 class="search-item-title">
                          {{result.name | makeUpper}}
                        </h3>
                        <div class="search-item-subtitle">
                          {{result.address}}
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="banner-slider-wrapper">
        <a href="#lands-to-landmark" class="animate-scroll scroll-down">
          <img
            src="assets/images/icons/arrow-down.svg"
            alt="down arrow"
          />
        </a>
        <div
          id="layerslider"
          class="fitvidsignore"
          style="width: 100%; height: 100%"
        >
          <div
            data-color="#1500BA"
            class="ls-slide banner-slider-item slider_topper"
            data-ls="slidedelay:5500;transition2d:12;"
          >
            <img
              src="https://shantaholdings.com/admin/uploads/gallery/home-slider/1606041879a3f8o.jpg"
              class="ls-bg"
              alt="Shantaholdings Slide"
            />
          </div>
          <div
            data-color="#1500BA"
            class="ls-slide banner-slider-item slider_topper"
            data-ls="slidedelay:5500;transition2d:12;"
          >
            <img
              src="https://shantaholdings.com/admin/uploads/gallery/home-slider/1602065517NSDZy.jpg"
              class="ls-bg"
              alt="Shantaholdings Slide"
            />
          </div>
          <div
            data-color="#1500BA"
            class="ls-slide banner-slider-item slider_topper"
            data-ls="slidedelay:5500;transition2d:12;"
          >
            <img
              src="https://shantaholdings.com/admin/uploads/gallery/home-slider/1602065517W1Itz.jpg"
              class="ls-bg"
              alt="Shantaholdings Slide"
            />
          </div>
          <div
            data-color="#1500BA"
            class="ls-slide banner-slider-item slider_topper"
            data-ls="slidedelay:5500;transition2d:12;"
          >
            <img
              src="https://shantaholdings.com/admin/uploads/gallery/home-slider/1602065517kRwaL.jpg"
              class="ls-bg"
              alt="Shantaholdings Slide"
            />
          </div>
          <div
            data-color="#1500BA"
            class="ls-slide banner-slider-item slider_topper"
            data-ls="slidedelay:5500;transition2d:12;"
          >
            <img
              src="https://shantaholdings.com/admin/uploads/gallery/home-slider/1602065517aypPq.jpg"
              class="ls-bg"
              alt="Shantaholdings Slide"
            />
          </div>
          <div
            data-color="#1500BA"
            class="ls-slide banner-slider-item slider_topper"
            data-ls="slidedelay:5500;transition2d:12;"
          >
            <img
              src="https://shantaholdings.com/admin/uploads/gallery/home-slider/1561963363eZ2Pu.jpg"
              class="ls-bg"
              alt="Shantaholdings Slide"
            />
          </div>
          <div
            data-color="#1500BA"
            class="ls-slide banner-slider-item slider_topper"
            data-ls="slidedelay:5500;transition2d:12;"
          >
            <img
              src="https://shantaholdings.com/admin/uploads/gallery/home-slider/1602065517BUjJH.jpg"
              class="ls-bg"
              alt="Shantaholdings Slide"
            />
          </div>
        </div>

        <div class="circle-menu inactive">
          <div class="circle-inner">
            <h2 class="slogan">
              <span>Setting Standards</span>
              <span>Explore</span>
            </h2>
          </div>
          <ul class="circle-text text-uppercase">
            <li>
              <a href="projects/ongoing.html"> &nbsp; Ongoing &nbsp; |</a>
            </li>

            <li>
              <a href="projects/completed.html"
                >&nbsp; Completed &nbsp; | &nbsp;</a
              >
            </li>

            <li>
              <a href="projects/upcoming.html">&nbsp;Upcoming</a>
            </li>

          </ul>
          <div class="circle-bg"></div>

        </div>
      </div>

      <section
        id="lands-to-landmark"
        class="section-gap parallax-container"
        data-stellar-background-ratio="0.1"
        style="
          background-image: url(/themes/real_estate/assets/img/cy-sketch.jpg;;;;
        "
      >
        <div class="container-fluid">
          <div class="row mb-40">
            <div class="col-sm-7 col-md-12">
              <h2 class="heading-primary style-1">
                WITNESS, AS WE TRANSFORM <br />YOUR LAND TO A LANDMARK
              </h2>
              <p>
                Partner with the best Artisan, to transform your land into a
                milestone of aesthetic marvel and superior value.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="carousel-wrapper has-shadow">
                <div class="carousel-primary slick-theme">
                  <div class="carousel-item">
                    <div class="inner">
                      <a href="ongoing/project/pinnacle.html">
                        <div class="image-thumb high-contrast">
                          <img
                            src="assets/images/pinnacle.jpg"
                            alt="Pinnacle"
                            title="Pinnacle"
                          />
                        </div>
                        <h3 class="title">Pinnacle</h3>
                        <h5 class="sub-title">Tejgaon</h5>
                        <span class="read-more"> Commercial </span>
                      </a>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <div class="inner">
                      <a href="ongoing/project/luxe.html">
                        <div class="image-thumb high-contrast">
                          <img
                            src="https://shantaholdings.com/admin/uploads/product/unnamed2/450x600/1598755353dxuM6.jpg"
                            alt="Luxe"
                            title="Luxe"
                          />
                        </div>
                        <h3 class="title">Luxe</h3>
                        <h5 class="sub-title">Plot 8, Road 51, Gulshan</h5>
                        <span class="read-more"> Residential </span>
                      </a>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <div class="inner">
                      <a href="ongoing/project/the-regal.html">
                        <div class="image-thumb high-contrast">
                          <img
                            src="https://shantaholdings.com/admin/uploads/product/asdads/450x600/15987551385pNoK.jpg"
                            alt="The Regal"
                            title="The Regal"
                          />
                        </div>
                        <h3 class="title">The Regal</h3>
                        <h5 class="sub-title">Road 84, Gulshan</h5>
                        <span class="read-more"> Residential </span>
                      </a>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <div class="inner">
                      <a href="ongoing/project/lumiere.html">
                        <div class="image-thumb high-contrast">
                          <img
                            src="https://shantaholdings.com/admin/uploads/product/unnamed-Gulshan2/450x600/1598755202KHKOY.jpg"
                            alt="Lumiere"
                            title="Lumiere"
                          />
                        </div>
                        <h3 class="title">Lumiere</h3>
                        <h5 class="sub-title">Road 55, Gulshan</h5>
                        <span class="read-more"> Residential </span>
                      </a>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <div class="inner">
                      <a href="ongoing/project/aura.html">
                        <div class="image-thumb high-contrast">
                          <img
                            src="https://shantaholdings.com/admin/uploads/product/unnamed-gulshan/450x600/1598755315rCZPB.jpg"
                            alt="Aura"
                            title="Aura"
                          />
                        </div>
                        <h3 class="title">Aura</h3>
                        <h5 class="sub-title">Road 83, Gulshan</h5>
                        <span class="read-more"> Residential </span>
                      </a>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <div class="inner">
                      <a href="ongoing/project/splendor.html">
                        <div class="image-thumb high-contrast">
                          <img
                            src="https://shantaholdings.com/admin/uploads/product/unnamed-gulshan1/450x600/1598710140OD8Ll.jpg"
                            alt="Splendor"
                            title="Splendor"
                          />
                        </div>
                        <h3 class="title">Splendor</h3>
                        <h5 class="sub-title">Road 47 Gulshan</h5>
                        <span class="read-more"> Residential </span>
                      </a>
                    </div>
                  </div>

                  <div class="carousel-item">
                    <div class="inner">
                      <a href="ongoing/project/the-sanctum.html">
                        <div class="image-thumb high-contrast">
                          <img
                            src="https://shantaholdings.com/admin/uploads/product/unnamed3/450x600/1598755034xYPe3.jpg"
                            alt="The Sanctum"
                            title="The Sanctum"
                          />
                        </div>
                        <h3 class="title">The Sanctum</h3>
                        <h5 class="sub-title">Road 81, Gulshan</h5>
                        <span class="read-more"> Residential </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="carousel-nav">
                  <img
                    class="prev slick-prev"
                    src="themes/real_estate/assets/img/icons/arrow_Dark_left.svg"
                    data-src="themes/real_estate/assets/img/icons/arrow_colored_left.svg"
                    alt="Arrow left"
                  />
                  <img
                    class="next slick-next"
                    src="themes/real_estate/assets/img/icons/arrow_Dark_right.svg"
                    data-src="themes/real_estate/assets/img/icons/arrow_colored_right.svg"
                    alt="Arrow right"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="section-gap pt-100 bg-light-grey why-us pb-0 bg-cover-center parallax-container parallax-img"
        data-stellar-background-ratio="0.1"
        style="
          background-image: url(themes/real_estate/assets/img/images/BG-whyus-4.2.webp);
        "
        data-image-src="/themes/real_estate/assets/img/images/BG-whyus-4.2.webp"
      >
        <div class="container-fluid">
          <div class="mb-30 hide">
            <h2 class="heading-primary text-white">WHY SHANTA HOLDINGS</h2>
          </div>
          <div class="row pt-70 mobile-pt-0">
            <div class="col-sm-6 col-md-5">
              <h2 class="heading-primary text-white">WHY SHANTA HOLDINGS</h2>
              <div class="text-white">
                <p>
                  Shanta aspires to weave an unprecedented experience of fine
                  living cocooned in comfort for you. It’s the statement of
                  prestige and elegant Architecture that sets us apart.
                </p>
              </div>
              <div class="mb-30">
                <a
                  href="why-shanta-holdings.html"
                  class="hidden-xs button button-outline button-outline-white mtb-30"
                >
                  Explore
                </a>
              </div>

              <div class="image-box-holder flow-down hide">
                <div class="image-box" style="background-image: url()">
                  <div class="inner-content text-white text-bold">
                    <p>
                      Shanta aspires to weave an unprecedented experience of
                      fine living cocooned in comfort for you. It’s the
                      statement of prestige and elegant Architecture that sets
                      us apart.
                    </p>
                    <a
                      href="about-us/who-we-are.html"
                      class="button button-outline button-outline-white"
                    >
                      Explore
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-md-offset-1 mb-70 mobile-mb-0">
              <div
                class="bordered-tiles our-specility-lightbox-wrapper mobile-mb-0 stagger-wrapper mb-0"
              >
                <div class="row parent">
                  <div
                    class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm"
                  >
                    <a href="#specility-lightbox-1" class="lbox-btn">
                      <div class="inner">
                        <div class="content">
                          <div class="table-all">
                            <span class="vertical-center">
                              <span class="tile-text"> Prime Locations </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div
                    class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm"
                  >
                    <a href="#specility-lightbox-2" class="lbox-btn">
                      <div class="inner">
                        <div class="content">
                          <div class="table-all">
                            <span class="vertical-center">
                              <span class="tile-text"> Top Consultants </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div
                    class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm"
                  >
                    <a href="#specility-lightbox-3" class="lbox-btn">
                      <div class="inner">
                        <div class="content">
                          <div class="table-all">
                            <span class="vertical-center">
                              <span class="tile-text">
                                Highest Quality Materials
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div
                    class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm"
                  >
                    <a href="#specility-lightbox-4" class="lbox-btn">
                      <div class="inner">
                        <div class="content">
                          <div class="table-all">
                            <span class="vertical-center">
                              <span class="tile-text">
                                Uncompromised Safety
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div
                    class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm"
                  >
                    <a href="#specility-lightbox-5" class="lbox-btn">
                      <div class="inner">
                        <div class="content">
                          <div class="table-all">
                            <span class="vertical-center">
                              <span class="tile-text"> On-time Delivery </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div
                    class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm"
                  >
                    <a href="#specility-lightbox-6" class="lbox-btn">
                      <div class="inner">
                        <div class="content">
                          <div class="table-all">
                            <span class="vertical-center">
                              <span class="tile-text">
                                Professional Management
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="visible-xs">
                  <a
                    href="why-shanta-holdings.html"
                    class="button button-outline button-outline-white mt-30 mb-100"
                  >
                    Explore
                  </a>
                </div>
                <div class="lightbox-content-wrapper">
                  <div
                    id="specility-lightbox-1"
                    class="specility-lightbox-item text-left bg-white"
                  >
                    <a href="#" class="close-lightbox text-30">
                      <img
                        src="themes/real_estate/assets/img/icons/global-menu-close-black.svg"
                        alt="close"
                      />
                    </a>
                    <div class="inner">
                      <h3 class="title text-18 mb-20">Prime Locations</h3>
                      <div class="desc">
                        <p>
                          We offer a selection from the most lucrative locations
                          across the city. Our project locations are selected
                          intelligently, keeping in mind the things that matter
                          to you most.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div
                    id="specility-lightbox-2"
                    class="specility-lightbox-item text-left bg-white"
                  >
                    <a href="#" class="close-lightbox text-30">
                      <img
                        src="themes/real_estate/assets/img/icons/global-menu-close-black.svg"
                        alt="close"
                      />
                    </a>
                    <div class="inner">
                      <h3 class="title text-18 mb-20">Top Consultants</h3>
                      <div class="desc">
                        We engage the leading consultants in their respective
                        fields from both home and abroad, to ensure that every
                        facet of a project is designed to perfection. After all,
                        the best designs can only come from the best minds.
                      </div>
                    </div>
                  </div>

                  <div
                    id="specility-lightbox-3"
                    class="specility-lightbox-item text-left bg-white"
                  >
                    <a href="#" class="close-lightbox text-30">
                      <img
                        src="themes/real_estate/assets/img/icons/global-menu-close-black.svg"
                        alt="close"
                      />
                    </a>
                    <div class="inner">
                      <h3 class="title text-18 mb-20">
                        Highest Quality Materials
                      </h3>
                      <div class="desc">
                        <p>
                          We continuously explore material sourcing globally to
                          enhance the comfort and lifestyle of our clients. Each
                          material used in our projects is selected with the
                          utmost attention to quality, suitability and
                          durability.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div
                    id="specility-lightbox-4"
                    class="specility-lightbox-item text-left bg-white"
                  >
                    <a href="#" class="close-lightbox text-30">
                      <img
                        src="themes/real_estate/assets/img/icons/global-menu-close-black.svg"
                        alt="close"
                      />
                    </a>
                    <div class="inner">
                      <h3 class="title text-18 mb-20">Uncompromised Safety</h3>
                      <div class="desc">
                        <p>
                          Our priority to safety is second to none. Structural,
                          electro-mechanical and fire safety stand paramount in
                          our planning and construction methodology, in order to
                          ensure your safety in your sanctuary.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div
                    id="specility-lightbox-5"
                    class="specility-lightbox-item text-left bg-white"
                  >
                    <a href="#" class="close-lightbox text-30">
                      <img
                        src="themes/real_estate/assets/img/icons/global-menu-close-black.svg"
                        alt="close"
                      />
                    </a>
                    <div class="inner">
                      <h3 class="title text-18 mb-20">On-time Delivery</h3>
                      <div class="desc">
                        <p>
                          Our experienced team of highly qualified engineers and
                          management professionals work relentlessly in perfect
                          synergy. At Shanta, delivering uncompromised quality,
                          on time, has become our mantra.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div
                    id="specility-lightbox-6"
                    class="specility-lightbox-item text-left bg-white"
                  >
                    <a href="#" class="close-lightbox text-30">
                      <img
                        src="themes/real_estate/assets/img/icons/global-menu-close-black.svg"
                        alt="close"
                      />
                    </a>
                    <div class="inner">
                      <h3 class="title text-18 mb-20">On-Time Delivery</h3>
                      <div class="desc">
                        <p>
                          A safe, clean and comfortable living environment can
                          only be maintained by a team of professionals with an
                          eye for perfection. Our Facility Management team will
                          ensure your desire to live in a beautiful community
                          remains fulfilled.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-gap pb-50 bg-light-grey">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 mb-30">
              <h2 class="mb-30">
                <span
                  ><img
                    class="social-icon"
                    src="themes/real_estate/assets/img/icons/youtube.svg"
                    alt="Instagram"
                  />Youtube</span
                >
              </h2>
              <div class="youtube-wrapper">
                <iframe
                  width="100%"
                  height="98%"
                  src="https://www.youtube.com/embed/fdxY4LCdQIY"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen=""
                  style="position: absolute; left: 0; top: 7px"
                ></iframe>
              </div>
            </div>
            <div class="col-sm-6 mb-30">
              <h2 class="mb-30">
                <span
                  ><img
                    class="social-icon"
                    src="themes/real_estate/assets/img/icons/so-ins-black.svg"
                    alt="Instagram"
                  />Instagram</span
                >
              </h2>
              <div
                id="instagram-gallery"
                class="social-feed social-feed-instagram row no-margin"
              >
                <a
                  href="https://www.instagram.com/shantaholdings/?hl=en"
                  target="_blank"
                >
                  <img
                    src="themes/real_estate/assets/img/images/instagram_shanta.webp"
                    width="100%"
                    height="auto"
                  />
                </a>
              </div>
            </div>
          </div>

          <h2 class="mb-30">
            <span>SHANTA PINNACLE</span>
          </h2>
          <a
            class="tvc-btn"
            target="_blank"
            href="https://www.shantapinnacle.com/"
          >
            <img
              src="themes/real_estate/assets/img/images/tvc-img4.webp"
              style="width: 100%"
              alt=""
            />
          </a>
        </div>
      </section>

      <div class="msg_cont_wrap msg_closed">
        <div class="contact-form custom-select msg_form">
          <img
            src="themes/real_estate/assets/img/icons/global-menu-close-black.svg"
            class="close_btn"
          />
          <h3 class="title mb-30 text-color-11">Send us a message</h3>

          <form
            id="question-general"
            class="dynamic_form form-primary"
            action="https://shantaholdings.com/site/dynamic_form"
            method="post"
            data-pjax="false"
          >
            <input
              type="hidden"
              name="_csrf-frontend"
              value="_Ky85xNStAbyJrcVR--5hCIsxhVrrqqSEO8P_s0FCWGY-erSeRfwZLBH8XMXpfvCdVyHbx6ameI9jF-r_X1FUw=="
            />
            <!-- form full -->
            <input
              type="hidden"
              id="question-general"
              class="form-control"
              name="form_id"
              value="question-general"
            />

            <div
              class="form-message-container success_wrapper hide success_wrapper_question-general"
            >
              <div class="form-message-body">
                <div class="cross-popup" data-msg-close>X</div>
                <span class="success_container_question-general"></span>
                <div>
                  <div
                    data-msg-close
                    class="close-btn button button-outline button-outline-blackish mt-30 popup-ok-btn"
                  >
                    Ok
                  </div>
                </div>
              </div>
            </div>
            <div
              class="form-message-container error_wrapper hide error_wrapper_question-general"
            >
              <div class="form-message-body">
                <div class="cross-popup" data-msg-close>X</div>
                <span class="error_container_question-general"></span>
                <div>
                  <div
                    data-msg-close
                    class="close-btn button button-outline button-outline-blackish mt-30 popup-ok-btn"
                  >
                    Ok
                  </div>
                </div>
              </div>
            </div>

            <input
              type="text"
              name="Dynamicform[spam_protector]"
              style="display: none"
            />

            <div
              class="form-group field-contact-name has-child-pad field-contact-name required"
            >
              <input
                type="text"
                id="name"
                class="form-control"
                name="Dynamicform[name]"
                placeholder="Enter your name here"
              />
              <p class="help-block help-block-error"></p>
            </div>

            <div
              class="form-group field-contact-name has-child-pad field-contact-name required"
            >
              <input
                type="text"
                id="email"
                class="form-control"
                name="Dynamicform[email]"
                placeholder="Enter your email here"
              />
              <p class="help-block help-block-error"></p>
            </div>
            <div class="form-group field-contact-message required">
              <textarea
                id="Message"
                class="form-control"
                name="Dynamicform[Message]"
                placeholder="Enter your feedback here"
              ></textarea>
              <p class="help-block help-block-error"></p>
            </div>

            <div class="mt-20">
              <button
                type="submit"
                class="btn text-bold no-bg no-radius no-border dynamic_submit_btn"
              >
                Submit
              </button>
            </div>

            <!-- end of form full -->
          </form>
        </div>

        <div class="msg_cont"></div>
        <img
          src="themes/real_estate/assets/img/icons/feedback-icon.svg"
          class="msg_icon"
        />
      </div>

      <style>
        .youtube-wrapper {
          width: 100%;
          position: relative;
          padding-bottom: 51%;
        }
      </style>

      <footer class="site-main-footer">
        <!-- Landing footer -->
        <div
          class="footer-top parallax-container"
          data-stellar-background-ratio="0.1"
          style="
            background-image: url(themes/real_estate/assets/img/images/footer.jpg);
          "
        >
          <div class="container-fluid">
            <div class="box-parent three-items">
              <div class="box">
                <a href="contact/landowners.html">
                  <div class="inner">
                    <h3 class="title">Landowners</h3>
                    <p>Meet the professionals</p>
                  </div>
                </a>
              </div>
              <div class="box">
                <a href="contact/buyers.html">
                  <div class="inner">
                    <h3 class="title">Buyers</h3>
                    <p>Explore the options</p>
                  </div>
                </a>
              </div>
              <div class="box">
                <a href="contact/customers.html">
                  <div class="inner">
                    <h3 class="title">Customers</h3>
                    <p>Share your feedback</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="line"></div>
                    <div class="copyright">
                      <p>&copy; 2018 Shanta Holdings Ltd.</p>
                      <p>
                        Designed &amp; Developed by
                        <a
                          class="hover-line"
                          href="http://www.dcastalia.com/"
                          target="_blank"
                          >Dcastalia</a
                        >
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="footer-social-wrapper pull-right">
                      <a
                        target="_blank"
                        href="https://www.facebook.com/shantaholdings/"
                      >
                        <img
                          src="themes/real_estate/assets/img/facebook-icon.png"
                          alt="Shantaholdings-fb-page"
                        />
                      </a>
                      <a
                        target="_blank"
                        href="https://www.instagram.com/shantaholdings/?hl=en"
                      >
                        <img
                          src="themes/real_estate/assets/img/instagram-icon.png"
                          alt="Shantaholdings-instagram-page"
                        />
                      </a>
                      <a
                        target="_blank"
                        href="https://www.youtube.com/channel/UCH2kciy0CmoAiI20rU9KR7A"
                      >
                        <img
                          src="themes/real_estate/assets/img/youtube-icon.png"
                          alt="Shantaholdings-youtube-page"
                        />
                      </a>
                      <a
                        target="_blank"
                        href="https://www.pinterest.com/shantaholdingsltd/?eq=shanta%20hold&amp;etslf=8103"
                      >
                        <img
                          src="themes/real_estate/assets/img/pinterest-icon.png"
                          alt="Shantaholdings-pinterest-page"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="assets/js/yiieec5.js?v=1605603634"></script>
    <script src="assets/js/yii.activeFormeec5.js?v=1605603634"></script>
    <script src="assets/js/upload_files6a1b.js?v=1498105134"></script>
    <script src="assets/js/min/layerslider.transitions.min6d68.js?v=1498105168"></script>
    <script src="assets/js/min/layerslider.kreaturamedia.jquery.minc4c1.js?v=1498105166"></script>
    <script src="assets/js/min/script.minf69e.js?v=1499342676"></script>
    <script>
      jQuery(function ($) {
        jQuery("#question-general").yiiActiveForm([], []);
        jQuery("#w0").yiiActiveForm([], []);

        $(document).delegate(
          ".dynamic_submit_btn",
          "click",
          function (event, jqXHR, settings) {
            var form = $(this).closest("form");
            var form_id = form.attr("id");

            if (form.find(".has-error").length) {
              return false;
            }

            $.ajax({
              url: form.attr("action"),
              type: "post",
              data: form.serialize(),
              beforeSend: function (request) {
                $(".success_wrapper_" + form_id).addClass("hide");
                $(".error_wrapper_" + form_id).addClass("hide");
              },
              success: function (data) {
                if (data.result == "success") {
                  form[0].reset();
                  $(".success_wrapper_" + form_id).removeClass("hide");
                  $(".error_wrapper_" + form_id).addClass("hide");

                  $(".success_container_" + form_id).html(data.msg);
                  $(".error_container_" + form_id).html("");
                } else {
                  $(".error_container_" + form_id).html(data.msg);
                  $(".success_container_" + form_id).html("");

                  $(".success_wrapper_" + form_id).addClass("hide");
                  $(".error_wrapper_" + form_id).removeClass("hide");
                }
              },
            });

            return false;
          }
        );
      });
    </script>
  </body>
</html>
